<!-- People Modals -->
{% for person in site.people %}
    <!-- {{ person.title }} -->
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ person.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa fa-times-circle fa-3x"></i>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h1>{{ person.title }}</h1>
                            <hr class="star-secondary">
                            <img src="img/people/{{ person.img }}" class="img-responsive img-centered" alt="{{ person.alt }}">
                            {% if person.description -%}
                                <p>{{ person.description }}</p>
                            {% endif -%}
                            {{ person.content | markdownify }}
                            <!-- Poster PDF -->
                            <a href="pdf/{{person.pdf}}" type="button" class="btn btn-default" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-pdf-o"></i> Poster</a>
                            
                            {% if person.website -%}
                            <!-- Website -->
                            <a href="https://{{person.website}}" type="button" class="btn btn-default" target="_blank" rel="noopener noreferrer"><i class="fa fa-globe"></i> Website</a>
                            {% endif %}
                            {% if person.twitter -%}
                            <!-- Twitter -->
                            <a href="https://twitter.com/{{person.twitter}}" type="button" class="btn btn-default" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i> Twitter</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor -%}
