{% for section in site.sections -%}
    {% unless section.hidden -%}
    {% capture thecycle -%}{% cycle 'primary', 'secondary' -%}{% endcapture -%}
    {% assign id = section.title | downcase | replace: ' ', '-' -%}
    <!-- {{ section.title }} -->
    <section class="{{ thecycle }}" id="{{ id }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h1>{{ section.title }}</h1>
                    <hr class="star-{{ thecycle }}">
                    {{ section.content | markdownify }}
                </div>
            </div>
        </div>
    </section>
    {% endunless -%}
{% endfor -%}
