---
---

@import "{{ site.theme }}";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary-color: #f2feff;
$secondary-color: #0a131e;
$accent-color2: #f1cc00;
$accent-color1: #a2c4e0;
$accent-color3: #ed945b;
$accent-color4: #11284d;

$font-stack-body: Montserrat, sans-serif;
$font-stack-heading: Livvic, sans-serif;

html {
  scroll-behavior: smooth;
}

body {
  background-color: $secondary-color;
  color: $primary-color;
  font-family: $font-stack-body;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  color: $accent-color1;
  font-family: $font-stack-heading;
}

a {
  color: $accent-color2;
}

a:hover, a:focus {
  color: $accent-color3;
  font-weight: inherit;
}

a small {
  color: $primary-color;
}

a:hover small {
  color: inherit;
}

dt {
  color: $accent-color2;
  font-weight:700;
}

th {
  color: $accent-color2;
}

.small-image {
  display: block;
  float: inline;
  max-width: 33%;
  margin-left: auto;
  margin-right: auto;
}
